*{
    margin: 0;
    padding: 0;
}
@font-face {
font-family: Curtive-Regular;
src: url(fonts/CutiveMono-Regular.ttf);
}

/* NAVIGATION BAR main style */
.topnav {
    background-color: #101010;
    overflow: hidden;
  }
  
  /* NAVIGATION BAR text style */
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  /* NAVIGATION BAR style on hover */
  .topnav a:hover {
    background-color: #2f2f2f;
  }
  
  /* NAVIGATION BAR current link colour  */
  .topnav a.active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);}
  
.background{
  width: 100%;
  height: 25%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: linear-gradient( rgb(110, 20, 20), black);
}

@media only screen and (min-width: 768px) {
  /*Tablet*/
  [class*="background"] {
    height: 25%;
  }}

.background h2{
  color: white;
  font-family: 'Curtive-Regular';
  font-weight: normal;
  font-size: 32px;
}
.contents{
    background-color: white;
    background-size: cover;
    min-height: 700px;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px; 
    font-size: medium;
}

.contents hr{
  width: 100%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  /*Tablet*/
  .contents hr{
    width: 70%;
  }}

@media only screen and (min-width: 1440px) {
  /*Tablet*/
  .contents hr{
    width: 50%;
  }}

.contents h2{
  text-align: center;
  margin-bottom: 25px;
  margin-top: 15px;
  font-weight: normal;
  font-size: 20px;
  color: black;
}

@media only screen and (min-width: 768px) {
  /*Tablet*/
  .contents h2 {
    font-size: 24;
  }}


.contents p{
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 25px;
    font-family: sans-serif;
    font-size: 12pt;
    color: black;
}

@media only screen and (min-width: 768px) {
  /*Tablet*/
  .contents p{
    padding-left: 15%;
    padding-right: 15%;
    font-size: 12pt;
  }}

  @media only screen and (min-width: 1440px) {
    /*desktop*/
    .contents p{
      padding-left: 25%;
      padding-right: 25%;
    }}

.gallery{
  height: auto;
  padding-left: 0%;
  padding-right: 0%;
}

@media only screen and (min-width: 768px) {
  /*Tablet*/
  [class*="gallery"] {
    padding-left: 15%;
    padding-right: 15%;
  }}

  @media only screen and (min-width: 1440px) {
    /*Desktop*/
    [class*="gallery"] {
      padding-left: 25%;
      padding-right: 25%;
    }}

.box{
  max-width: 100%;
  height: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
}

.box img{
  width: 100%;
  aspect-ratio: 1.78;
  object-fit: cover;
  border: 0pt solid black;
  border-radius: 0pt;
  transition: 0.3s;
}

.sketchfab-embed-wrapper iframe {
  width: 100%;
  border: none;
  aspect-ratio: 1.78;
  object-fit: cover;
}

.box img:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer{
  width: 100%;
  height: 40px;
  border-top: 1px solid black;
}